@import "variables";
@import "bourbon";

#hero {
	text-align: center;
	color: white;
	padding: 2em 0 4em 0;
	font-size: 1.1em;
	@include background(linear-gradient(#FF5E3A, $accentColor));

	.container {
		margin: 0 auto;
	}

	a {
		color: white;
	}

	a.github {
		display: inline-block;
		padding: 1em;
		border: 1px solid white;
		border-radius: 1em;
		@include transition (all 0.1s ease-in-out);
		&:hover {
			background-color: white;
			color: $accentColor;
			@include transition (all 0.1s ease-in-out);
		}
	}

	h1 {
		margin: 0;
		font-size: 5em;
	}

	p {
		margin: -0.5em 0 1.9em 0;
	}
}
