@import "bourbon";
@import "variables";

#providers {
	ul {
		list-style-type: none;
		font-size: 3em;
		text-align: center;
		margin: 0 0 0.33em;
		@include clearfix;

		li {
			float: left;
			width: 33%;
		}
	}

	a {
		color: $textColorDark;
	}
}
