<div id="hero">
	<div class="container">
		<h1>SimpleAuth</h1>
		<p>Simple social authentication for iOS.</p>
		<a href="https://github.com/calebd/SimpleAuth">Check me out on GitHub!</a>
	</div>
</div>