<div id="hero">
	<div class="container">
		<h1><a href="/">SimpleAuth</a></h1>
		<p>Simple social authentication for iOS.</p>
		<a class="github" href="https://github.com/calebd/SimpleAuth">View SimpleAuth on GitHub</a>
	</div>
</div>
