<% content_for :title do %>SimpleAuth<% end %>

<%= erb :hero %>

<div id="about" class="container">
	<h2>About</h2>
	<p>SimpleAuth does all the hard work of social account authentication on iOS. It has a simple public API backed by a set of <a href="#providers">providers</a> that communicate with various social services.</p>

	<p>Installing SimpleAuth is easy. Just add the provider you want to your <code>Podfile</code>, like this: <code>pod 'SimpleAuth/Twitter'</code></p>

	<p>You can read more about the framework in the <a href="https://github.com/calebd/SimpleAuth/blob/master/Readme.markdown">readme</a>.</p>
</div>

<div id="providers" class="container">
	<h2>Providers</h2>
	<p>SimpleAuth features providers for these services:</p>
	<ul>
		<li><i class="fa fa-twitter"></i></li>
		<li><i class="fa fa-facebook"></i></li>
		<li><i class="fa fa-instagram"></i></li>
		<li><i class="fa fa-tumblr"></i></li>
    <li><i class="fa fa-foursquare"></i></li>
    <li><i class="fa fa-dropbox"></i></li>
    <li><i class="fa fa-weibo"></i></li>
    <li><i class="fa fa-linkedin"></i></li>
    <li><i class="fa fa-google"></i></li>
    <li><i class="fa fa-trello"></i></li>
	</ul>
  <p>See the full list <a href="https://github.com/calebd/SimpleAuth/tree/master/Pod/Providers">on GitHub</a>.</p>
</div>
