@import "reset";
@import "pages/*";
@import "variables";

body {
	font-size: 18px;
	font-weight: light;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	color: $textColorDark;
}

a {
	color: $linkColor;
	text-decoration: none;
	&:hover {
		color: $linkColorHighlighted;
	}
}

h1 {
	font-size: 2em;
}

h2 {
//	margin-top: 3em;
	font-size: 2em;
}

h3 {
	font-size: 1.25em;
}

strong, h1, h2, h3 {
	font-weight: bold;
}

p, pre {
	margin: 0 0 1.5em;
}

code {
	font-size: 0.9em;
	white-space: nowrap;
}

pre {
	overflow: scroll;
	background-color: darken(white, 3%);
//	border: 1px solid darken(white, 9%);
	padding: 0.5em 1em;
//	border-radius: 1em;
	line-height: 1.0;
	
	code {
		border: none;
		padding: 0;
		white-space: pre;
	}
}

code {
	font-family: 'Menlo', 'Monaco', 'Courrier', monospace;
}

.container {
    $width: 600px;
    $padding: 20px;
    
    width: $width;
    margin: 4em auto;
    box-sizing: border-box;
    
    @media screen and (max-width: $width + $padding * 2) {
        width: 100%;
        padding: 0 $padding;
        margin: 3em 0;
    }
}